<div class="hooyah-box col-6 offset-3">
    <h1>Edit Your Place</h1>
    <%= simple_form_for @place do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <br />
        <%= f.submit 'Update', class: 'class="btn btn-outline-primary' %>
    <% end %>
</div>
